<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BloodBank.Properties.Settings.BloodBankDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\RJ5656\Desktop\Hanan\cSharp_1st_Semester\BloodBank\BloodBank\BloodBank\BloodBankDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BloodBank.Properties.Settings.BloodBankDBConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BloodBankDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>